#content{
  text-align: center;
}

h1{
  font-family: serif;
  color:  rgb(41, 197, 88);
  font-size: 60px;
}
#input1{
  margin-top:100px;
  width:300px;
}
#title{
    animation-duration: 3s;
    animation-name: slide;
    animation-iteration-count: 1;
}
@keyframes slide{
    from{
        margin-left:100%;
        width: 300%;
    }
    to{
        margin-left: 0%;
        width: 100%;
    }
}
#block{
  text-align:left;
  margin-left:260px;
}
body{
    background-image: url("https://image.freepik.com/free-vector/out-line-businessman-calculator-brag_81698-337.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#btn{
  display: inline;
  background-color: black;
  color: rgb(230, 118, 44);
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid black;
  font-size: 20px;
  margin-top: 40px;
  margin-left:240px;
}

#btn:hover{
    background-color:rgb(115, 26, 150);
    color:whitesmoke;
}
#button{
    text-align: left;
    margin-left: 30px;
    margin-top:300px;
}

#btn7,#btn8{
    background-color: black;
    font-size:20px;
    padding-left:20px;
    padding-right:20px;
}