h1{
  color: rgb(2, 1, 12);
  font-family: Arial;
  text-align: center;
  font-size: 200%;

}

h1:hover{
  color: blue;
}
body{
  background-image: url("https://cdn5.vectorstock.com/i/1000x1000/03/44/robot-chatter-bot-say-hi-over-circuit-background-vector-19840344.jpg");
  background-repeat: no-repeat;
  background-size:  cover;
}

#input{
  margin-top: 40px;
}
#main{
  text-align: center;
}
#btn1{
  background-color: rgb(32, 218, 41);
  display: inline;
  width: 100px;
  color: white;
  border: 2px solid black;
  padding-left:25px;
  padding-right: 25px;
  height: 40px;
  font-size: 16px;
  margin-top: 60px;
}
#btn1:hover{
  background-color: yellowgreen ;
  color: whitesmoke;
}
#btn2{
  background-color: black;
  display: inline;
  width: 200px;
  color: black;
  border: 2px solid black;
  padding-left: 40px;
  padding-right: 40px;
  height: 40px;
  font-size: 20px;
  margin-top: 40px;
}
#btn2:hover{
  background-color: slateblue ;
  color: whitesmoke;
}